page-qr {
  .qr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  ion-slides {
    margin-bottom: 40px; // separa los botones
  }

  .swiper-pagination {
    bottom: 10px !important; // aleja los controles
    text-align: center;
    z-index: 10;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #ccc;
      opacity: 1;
      margin: 0 4px;
      border-radius: 50%;
      transition: background 0.3s ease;
    }

    .swiper-pagination-bullet-active {
      background: #3f51b5; // color principal
    }
  }

  ion-slide {
    display: flex;
    justify-content: center;
    min-height: 350px; // Ajusta según necesidad
    margin-bottom: 40px;
  }

  .ticket-card {
    width: 90%;
    max-width: 320px;
    background: linear-gradient(135deg, #f4f4f4, #ffffff);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 20px auto;
    overflow: hidden;
    border: 2px dashed #ccc;
    position: relative;
    text-align: center;
  }

  .ticket-card::before, .ticket-card::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .ticket-card::before {
    left: -12px;
  }

  .ticket-card::after {
    right: -12px;
  }

  .ticket-header {
    background-color: #3f51b5;
    color: white;
    padding: 12px;
    font-size: 18px;
    &.header-plateaA {
      background-color: rgb(255, 255, 0); // rojo fuerte
      color: #333;
    }

    &.header-plateaB {
      background-color:  rgb(67, 227, 211); // ámbar
      color: #333;
    }

    &.header-plateaC {
      background-color: rgb(255, 0, 255); // verde
      color: #333;
    }
  }

  .ticket-body {
    padding: 16px;
  }

  .ticket-body img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .ticket-body p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  

  .single-qr {
    @extend .ticket-card;
  }
}

