@import url("https://cdn.jsdelivr.net/npm/seatchart@latest/dist/seatchart.min.css");

ion-header,
.toolbar-background {
  background-color: #124F26 !important;
  color: white !important;
}

.toolbar-title,
.toolbar-title-md {
  color: white !important;
}

page-seats {

  // 🎨 LEYENDA PRINCIPAL (Plateas)
  .legend-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    //padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;

    .legend-title {
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #124F26;
      color: white;
      padding: 5px 10px;
      width: 100%;
      display: block;
      margin: 0;
      box-sizing: border-box;
      border-radius: 12px 12px 0 0;
    }

    .legend-list {
      list-style: none;
      padding: 10px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      flex: 1;
    }

    .legend-item {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      .legend-bullet {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .legend-description {
        margin: 0;
        font-size: 1.1rem;
      }
    }
  }

  // 📌 LEYENDA INFERIOR (Selección)
  .legend-footer {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
    flex-direction: column;
    align-items: center;

    .legend-list {
      list-style: none;
      display: flex;
      gap: 2rem;
      padding: 0;
      margin: 0;
    }

    .legend-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .legend-bullet {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        border-radius: 4px;
        margin: 0;
        box-sizing: border-box;
      }

      .legend-description {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }

  ion-icon {
    color: #124F26 !important;
    font-size: 1.8em !important;

  }

  // 🛒 BOTÓN DEL CARRITO
  .sc-cart-btn-submit,
  .sc-cart-btn-delete {
    background-color: #124F26;
    border-radius: 20px;

    &:hover,
    &:active {
      background-color: #124F26;
    }
  }

  .sc-seat-selected {
    cursor: pointer;
    background-color:#124F26 !important;
    color: white;
    opacity: 1;
}

  // 🎭 ESCENARIO DEL TEATRO
  .stage {
    width: auto;
    text-align: center;
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 6px;
    font-size: 2.1rem;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  // 🎫 CONTENEDOR PRINCIPAL
  #seatWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    // height: auto;
    max-height: 100vh;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  // 🧱 CONTENEDOR DEL MAPA
  .sc-main-container {
    // overflow-y: auto;
    overflow: hidden; // evita scroll interno
    position: relative;
    touch-action: none; // necesario si usas Hammer para gestos
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    padding: 0%;
  }

  .sc-map {
    display: flex;
    flex-direction: row;
    // height: auto;
  }

  // 🔳 Indexador (fila)
  .sc-indexer {
    flex-shrink: 0; // Evita que se achique
    margin-bottom: 50px;
  }

  // 🔳 Mapa de asientos
  .sc-map-inner-container {
    flex-shrink: 0;
    touch-action: none; // necesario para detectar gestos correctamente
    user-select: none;
  }


  // Estilos de skeleton hasta cargar la vista
  .skeleton-wrapper {
    .skeleton {
      background: linear-gradient(90deg, #e0e0e0 25%, #cfcfcf 50%, #e0e0e0 75%);
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite;
      border-radius: 6px;
      //margin-bottom: 16px;
      margin-top: 16px;
      //margin-left: 16px;
    }
  }

  .skeleton-title {
    width: 40%;
    height: 20px;
    border-radius: 15px;
  }

  .skeleton-subtitle {
    width: 100%;
    height: 80px;
  }

  .skeleton-banner {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 350px;
  }

  .skeleton-chip {
    width: 20%;
    height: 22px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 20px;

    &.small {
      width: 15%;
    }
  }

  .skeleton-line {
    height: 25px;
    width: 45%;

    &.short {
      width: 28%;
      justify-content: center;
      align-items: center;
    }
  }

  .skeleton-button {
    width: 30%;
    height: 50px;
    margin-left: auto;
  }

  .skeleton-column {
    //display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .skeleton-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skeleton-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }

    100% {
      background-position: 200% 0;
    }
  }

  .sc-indexer .sc-seat-indexer {
    height: 32px !important; // ⬅️ Misma altura que .sc-seat
    font-size: 1.1rem !important;
    font-weight: bold;
  }

  // 🎟️ ESTILOS DE ASIENTOS
  .sc-seat {
    flex: 0 0 auto !important; // evita que se escalen
    width: 36px;
    height: 32px;
    min-width: 20px;
    min-height: 20px;
    font-size: 1.1rem !important;
    border-radius: 8px 8px 0 0;
    // line-height: 40px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:active {
      transform: scale(0.9);
    }
  }

  .sc-seat.sc-seat-available:hover {
    cursor: pointer;
    opacity: 1;
  }

  .sc-seat.sc-seat-disabled {
    min-width: 14px !important;
    width: 14px !important;
  }

  .sc-seat.sc-seat-selected {
    cursor: pointer;
    background-color: #124F26;
    color: white;
    opacity: 1;
  }

  .sc-seat.sc-seat-availables {
    min-width: 20px !important;
    width: 20px !important;
  }

  .timer {
    font-size: 2.3rem;
    font-weight: bold;
    color: #222;
    transition: color 0.3s;
    margin-left: auto;
    text-align: right;
  }

  .timer-critical {
    color: #e53935 !important;
    animation: blink 0.9s step-start 0s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }


  //ocupados
  .sc-seat.sc-seat-reserved,
  .sc-seat-reserved {
    color: white;
    background-color: #a2a2a2;
    cursor: not-allowed;
  }

  //Nuevo: clase para asientos temporales
  .temporal {
    background-color: orange !important;
    cursor: not-allowed;
    pointer-events: none;
  }




  // 🎫 PLATEAS (A, B, C)
  .plateaA {
    background-color: rgb(255, 255, 0); //#f9c74f
    color: black;
  }

  .plateaB {
    background-color: rgb(67, 227, 211); //#43aa8b
    color: black;
    // border-radius: 4px;
  }

  .plateaC {
    background-color: rgb(255, 0, 255); //#f94144
    color: black;
    ;
    // border-radius: 4px;
  }

  // NUEVA CLASE PLATA GRIS PLOMO
  .bloqueado {
    background-color: #757370;
    color: black;
    pointer-events: none !important;
    cursor: not-allowed !important;
  }

  .index {
    pointer-events: none; // ❌ No se puede hacer clic
    cursor: default; // 👉 Cursor normal 
    background-color: transparent;
    color: #124F26;
    font-size: 1.5rem !important;
    font-weight: bold;
    opacity: 1 !important;
  }

  // 🛒 CARRITO FLOTANTE
  #floatingCart {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    // position: sticky;
    width: 100%;
    background: white;
    // border-top: 1px solid #ddd;
    padding: 1rem 1rem;
    border: 1px solid #ddd;
    border-radius: 12px;
    // z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .sc-cart-header {
      align-items: normal;
      width: 250px;
      height: max-content;
      gap: 1.2rem;

      .cart-count {
        margin: 0;
        font-weight: bold;
        font-size: 1.4rem;
      }

      .sc-cart-title {
        display: none
      }
    }

    .sc-cart-footer {
      width: 100%;
      height: max-content;
      // display: flex;
      // flex-direction: row-reverse; // Intercambia el orden de los elementos hijos
    }

  }

  .budget-label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 5px;
  }

  p {
    margin: 0;

  }

  // 📱 MEDIAS RESPONSIVAS
  @media screen and (max-width: 768px) {
    .sc-map {
      // transform: scale(0.6);
    }

    // .sc-main-container {
    //   transform: scale(0.6);
    // }
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .sc-map {
      // transform: scale(0.8);
    }
  }

  @media screen and (min-width: 1201px) {
    .sc-map {
      // transform: scale(1);
    }
  }
}